<h1>Hello, Rails!</h1>

<ul>
  <li>Start the server with <code>rails server</code></li>
  <li>Click the "About your application’s environment" link to see what environment variables are available in your app.</li>
  <li>Click the "About your standard routes" link to see the list of routes your app knows about.</li>
  <li>Click the "About your application’s configuration" link to see what configuration settings are available in your app.</li>
  <li>Click the "About your database" link to see what database is being used by your app.</li>
  <li>Click the "About your local environment" link to see what environment variables are available in your local environment.</li>
  <li>Click the "About your application’s dependencies" link to see what dependencies are being used by your app.</li>
  <li>Click the "About your application’s gems" link to see what gems are being used by your app.</li>
  <li>Click the "About your application’s routes" link to see the list of routes your app knows about.</li>
  <li>Click the "About your application’s models" link to see the list of models your app knows about.</li>
  <li>Click the "About your application’s controllers" link to see the list of controllers your app knows about.</li>
  <li>Click the "About your application’s views" link to see the list of views your app knows about.</li>
  <li>Click the "About your application’s helpers" link to see the list of helpers your app knows about.</li>
  <li>Click the "About your application’s mailers" link to see the list of mailers your app knows about.</li>
  <li>Click the "About your application’s jobs" link to see the list of jobs your app knows about.</li>
  <li>Click the "About your application’s channels" link to see the list of channels your app knows about.</li>

</ul>
